@media ( max-width: 1200px)
    .promo
        &__wrapper
            flex-direction: column
            align-items: center
            text-align: center

@media ( max-width: 1150px)
    .carousel
        &__inner
            height: 80%
            width: 80%
        .tns-ovh
            margin-bottom: 20px
        .tns-item
            img
                height: 50%
                width: 50% 
        .tns-nav
            display: block
            max-width: 165px 
            margin: 0 auto
            button
                height: 20px
                width: 40px
                border-color: red
                transform: skew(-20deg)
                border-radius: 25%
                margin-right: 15px
                background-color: red
            .tns-nav-active
                background-color: #fff
        .prev, .next
            display: none

@media ( max-width: 991px)
    .header
        justify-content: space-around
        &__logo
            img
                width: 80%
        &__official
            span
                font-size: 16px
        &__contact
            .button
                width: 130px
        &__phone
                font-size: 16px
    .promo
        &__header
            font-size: 38px
        &__subheader
            font-size: 20px
        .button_main
            width: 260px
        &__link
            font-size: 14px
    // .advantages
    //     &__items
    //         column-gap: 0px
    .consultation
        .title_left
            text-align: center
        &__descr
            text-align: center
        .feed_form
            margin: 0 auto
            margin-top: 36px
@media ( max-width: 767px)
    .header
        &__phone
            display: none
        button
            display: none
// @media ( max-width: 629px)
//     .advantages
//         &__items
//             grid-template-columns: none
//             grid-auto-flow: row
@media ( max-width: 575px)
    .header
        justify-content: center
        &__logo
            width: 200px
        &__official
            font-size: 10px
            span
                font-size: 14px
    .promo
        height: 420px
        padding: 21px 5px 20px 5px
        &__header
            margin-top: 70px
            font-size: 30px
        &__subheader
            margin-top: 5px
            font-size: 16px
        &__icons
            display: none
            margin: 0px
        .button_main
            font-size: 14px
            margin-top: 47px
        .button
            width: 220px
    .title
        font-size: 26px
    .consultation
        padding-top: 60px
        .title_left
            line-height: 30px
@media ( max-width: 370px)
    .header
        &__logo
            width: 100%
            img
                display: block
                margin: 0 auto
                width: 160px
        &__official
            display: none
    .promo
        padding: 21px 8px 25px 8px
        &__header
            font-size: 26px
        &__subheader
            font-size: 14px
        .button_main
            margin-top: 35px
    .title
        font-size: 22px
