.advantages
    background-color: #F6F6F6
    padding: 71px 0 65px 0
    &__header
        font-weight: 700
        font-size: 30px
        line-height: 30px
        color: $main_text
        text-align: center
    &__items
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(277px, 1fr))
        // column-gap: 59px
        row-gap: 25px
        justify-items: center
        margin-top: 60px
    &__item
        width: 260px
        text-align: center
    &__subheader
        font-weight: 700
        font-size: 18px
        line-height: 29px
        margin-top: 35px
    &__text
        font-weight: 300
        font-size: 14px
        line-height: 18px
        margin-top: 20px
        a
            color: $main-color
            font-weight: bold