.advantages
    background-color: #F6F6F6
    padding: 61px 0 65px 0
    &__items
        display: flex
        flex-flow: row wrap
        justify-content: space-around
        margin-top: 30px
    // &__items
    //     display: grid
    //     grid-template-columns: repeat(auto-fit, minmax(210px, 210px))
    //     column-gap: 65px
    //     row-gap: 25px
    //     justify-content: center
    //     margin: 0 auto
    //     margin-top: 60px
    &__item
        width: 250px
        text-align: center
        margin: 0 auto
        margin-top: 30px
    &__subheader
        font-weight: 700
        font-size: 18px
        line-height: 29px
        margin-top: 35px
    &__text
        font-weight: 300
        font-size: 14px
        line-height: 18px
        margin-top: 20px
        a
            color: $main-color
            font-weight: bold