.advantages
    background-color: #F6F6F6
    padding: 61px 0 65px 0
    &__items
        display: flex
        flex-flow: row wrap
        justify-content: space-around
        margin-top: 30px
    &__item
        width: 250px
        text-align: center
        margin: 0 auto
        margin-top: 30px
        .stars
            position: absolute
            margin-left: 60px
            width: 30px
            transform: rotate(30deg)
            top: 55px
            animation-name: stars
            animation-duration: 2s
            animation-timing-function: linear
            animation-iteration-count: infinite
            animation-direction: alternate
            .star1
                margin-left: 15px
            .star3
                margin-left: 15px
            img
                width: 50%
    &__subheader
        font-weight: 700
        font-size: 18px
        line-height: 29px
        margin-top: 35px
    &__text
        font-weight: 300
        font-size: 14px
        line-height: 18px
        margin-top: 20px
        a
            color: $main-color
            font-weight: bold
    &__icon 
        &_heart
            animation-name: heartbeat
            animation-duration: 1.5s
            animation-timing-function: ease
            animation-iteration-count: infinite
            animation-direction: alternate
    
