.button
    margin-top: 4px
    width: 153px
    height: 32px
    background-color: $main_color
    border: none
    border-radius: 5px
    font-weight: 500
    font-size: 12px
    line-height: 19px
    color: $subtext_color
    text-align: center
    text-transform: uppercase
    &:hover
        // #1,2 смещение; #3 размытие; #4 цвет
        box-shadow: 3px 3px 20px #fff
        border: none
    &_main
        width: 303px
        height: 54px
        font-size: 16px
        line-height: 25px
        margin-top: 67px
    &_submit
        width: 100%
        width: 303px
        height: 58px
        background: #C70101
        font-size: 16px
        line-height: 25px
        color: #ffff
        text-transform: uppercase
    &_mini
        width: 135px
        height: 44px
        font-size: 14px
        &:hover
            box-shadow: 3px 3px 20px $main-color
            border: none